body{
    background-color: antiquewhite;
}
/* fdydydy */
img{
    width: 10%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-intro{
    width: 30%;
}

.intro{
    display: flex;
}