body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
/* fdydydy */
img{
    width: 10%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-intro{
    width: 20%;
}

.intro{
    display: flex;
}

ul{
    display: flex;
    justify-content: baseline;
    list-style-type: none;
    align-items: center;
    padding: 16px
    ;

}