body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
/* fdydydy */
img{
    width: 10%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-intro{
    width: 10%;
}

.intro{
    display: flex;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px
    ;

}



#equipe {

    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: antiquewhite;
    color: black;
}
.foto-equipe{
    width: 15%;
}
header a{
    color: black;
    text-decoration: none;
}
.integrantes{
    display: flex;
    margin: 25px;
}